.wrap {
	margin: 70px auto;
	width: 90%;
  height: 540px;
  background: #264c6de3;//blue color
}
#drawing_area {
  float: right;
  margin: 40px 40px;
  width: 600px;
  height: 450px;
  border:1px solid #d3d3d3;
  background-color: white;
}
