* {
  box-sizing: border-box;
}

body {
  background-color: #00FF00;
}

#regForm {
  background-color: #a55a0d2fc;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid ,
textarea.invalid {
  background-color: #affdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.tab > p {
  font-size:130%;
}

button {
  background-color: #a072d42;
  color: #affffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #abbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a00283c;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #a2900ff;
}

.lang{
	display: none;
}
.lang.en{
	display: inline;
}
.user_result{
	padding: 20px 0;
}
.user_result table{
	width: 100%;
	margin-bottom: 20px;
}
.user_result table td{
	border: 1px solid #333;
	border-collapse: collapse;
	width: 50%;
	table-layout: fixed;
	padding: 5px;
}