@charset "ISO-8859-1";

.wrap {
	margin: 20px auto;
	width: 60%;
	border: 2px solid #262626;
}
img {
	width: 100%;
}



nav {
	position: static;
	background: #262626;
}
nav ul {
	margin: 0px 30px;
	padding: 0px;
	display: flex;
}
nav ul li {
  height: auto;
  line-height: 50px;
  padding: 0 50px;
  color: #fff;
  text-decoration: none;
  display: block;
}
nav ul li:hover,
nav ul li.active {
  color: #fff;
  background: #2196f3;
}
nav ul li a {
  height: auto;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  display: block;
}
nav ul li a:hover,
nav ul li a.active {
  color: #fff;
  background: #2196f3;
}



.paragraph {
	margin: 0 25%;
}



.weekpara {
	margin: 0 50px;
}
th, td {
  	border: 2px solid black;
  	border-collapse: collapse;
}


th, td {
	padding: 5px;
	text-align: left;
}








@media (max-width: 1024px) {
	.wrap {
		margin: 0;
		width: 100%;
	}
}
@media (max-width: 767px) {
	nav ul {
	margin: 0px;
	padding: 0px;
	display: flex;
}
	nav ul li {
		height: auto;
  		padding: 0 4.6px;
	}
}
